.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background-color: $color-brand !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: $color-brand !important;
}

.ant-steps-icon .ant-steps-finish-icon svg {
  fill: $color-brand !important;
}

.ant-steps-icon .anticon {
  vertical-align: 0.1em !important;
}
