//1.FONT
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;600;700&display=swap");

$font-heading: "Roboto", sans-serif;
$font-text: "Roboto", sans-serif;

$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 17px;
$font-xl: 19px;
$font-xxl: 58px;

//2.COLOR
$color-brand: #3bb77e;
$color-brand-dark: #29a56c;
$color-brand-2: #fdc040;
$color-primary: #5a97fa;
$color-secondary: #3e5379;
$color-warning: #ff9900;
$color-danger: #fd6e6e;
$color-success: #81b13d;
$color-info: #2cc1d8;
$color-text: #7e7e7e;
$color-heading: #253d4e;
$color-grey-1: $color-heading;
$color-grey-2: #242424;
$color-grey-4: #adadad;
$color-grey-9: #f4f5f9;
$color-muted: #b6b6b6;
$color-body: #7e7e7e;

$color-1: #fddde4;
$color-2: #cdebbc;
$color-3: #d1e8f2;
$color-4: #cdd4f8;
$color-5: #f6dbf6;
$color-6: #fff2e5;
$color-7: #d77f7a;
$color-8: #63a2c1;
$color-9: #f2fce4;
$color-10: #fffceb;
$color-11: #ecffec;
$color-12: #feefea;
$color-13: #fff3eb;
$color-14: #fff3ff;
$color-15: #f2fce4;

$color-hot: #f74b81;
$color-new: #55bb90;
$color-sale: #67bcee;
$color-best: #f59758;

//3.Boxshadow
$box-shadown-1: 20px 20px 40px rgba(0, 0, 0, 0.07);
$box-shadown-2: 5px 5px 15px rgba(0, 0, 0, 0.05);
$box-shadown-3: 20px 20px 54px rgba(0, 0, 0, 0.03);
$box-shadown-3-hover: 20px 20px 54px rgba(0, 0, 0, 0.05);

//4. Border
$border-color: #ececec;
$border-color-2: #bce3c9;

//5. Background
$background-1: #f2f3f4;
$background-2: #f4f6fa;
$background-3: #def9ec;
