.image-upload-cont {
  //   position: relative;
  //   padding: 60px;
  //   width: 99%;
  //   border: 1px solid #e5e7ec;
  //   border-radius: 10px;
  //   margin-bottom: 24px;
  //   display: flex;
  //   align-items: center;

  //   margin-top: 20px;

  .secondary-cont-upload {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  // @media (max-width: ${({ theme }) => theme.mediaQuery.smallDevices}) {
  //   flex-direction: column;
  // }
  @media (max-width: 767px) {
    flex-direction: column;
  }

  .image-cont {
    position: relative;

    .dlt-image {
      position: absolute;
      left: 120px;
      top: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.2s;
      cursor: pointer;
    }
    img {
      width: 150px;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      margin-right: 45px;

      // @media (max-width: ${({ theme }) => theme.mediaQuery.smallDevices}) {
      //   margin-right: 0;
      //   margin-bottom: 20px;
      // }
      @media (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &:hover .dlt-image {
      opacity: 1;
    }
  }
}
